.App{
  /* text-align: center; */
}

h1,h2,h3,h4,h5,h6{
  font-family: Montserrat,sans-serif;
  margin: 0;
}

.App-header{
  background-image: url('https://res.cloudinary.com/dvo8xhx6r/image/upload/v1655412691/ball2_phmpcu.jpg');
  min-height: 300px;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: -1;
}