.App{
  /* text-align: center; */
}

h1,h2,h3,h4,h5,h6{
  font-family: Montserrat,sans-serif;
  margin: 0;
}

.App-header{
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(8,8,8,1) 0%, rgba(0,0,0,0.4822303921568627) 0%), url('https://res.cloudinary.com/dvo8xhx6r/image/upload/v1655412691/ball2_phmpcu.jpg');
  min-height: 320px;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: -1;
}

.logo img{
  max-width: 100%;
  height: auto;
}

.competit{
  display: flex;
  justify-content: center;
}

.container{
  padding: 20px 20px;
  background-color: white;
  z-index: 1000;
  /* position: absolute; */
  margin-top: -40px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  max-width: 750px;
}

.container h4 strong{
  font-family: Montserrat,sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #212529;
}